.p1 {
font-family: 'Caprasimo', regular;
}

.p2 {
font-family: 'Microsoft Sans Serif', regular;
}

#backbutton {
position: fixed;
top: 100px;
left: 20px;
z-index: 1000;
display: flex;
color: #083060;
font-size: 45px;
cursor: pointer;
}

#bannerdiv {
height: 400px;
width: 1500px;
margin-left: auto;
margin-right: auto;
padding-top: 150px;
background-image: url('images/roundbannerimage.png');
background-repeat: no-repeat;
background-size: 100%;
}

#bannertext {
text-align: center;
font-size: 100px;
color: #083060;
}

#main {
width: 100%;
height: 1000px;
margin-left: auto;
margin-right: auto;
}

#boldtext {
font-weight: bold;
font-size: 25px;
}

#mainleft {
width: 60%;
height: 1000px;
align-items: center;
justify-content: center;
float: left;
padding: 0px 10px;
display: flex;
filter: drop-shadow(0px 10px 6px black);
}
	
#photo {
width: 600px;
border-radius: 10%;

}
	
#mainright {
height: 1000px;
text-align: center;
vertical-align: middle;
line-height: 30px;
padding: 225px 70px;
color: #4b9acc;
font-size: 20px;
margin-right: 150px;
}

#footer {
height: 250px;
width: 100%;
background-color: #083060;
margin-top: 100px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}

#footertext {
font-size: 25px;
color: #d8e7ed;
text-align: center;
padding-top: 125px;
}