.p1 {
font-family: 'Caprasimo', regular;
}

.p2 {
font-family: 'Microsoft Sans Serif', regular;
}

#backbutton {
position: fixed;
top: 100px;
left: 20px;
z-index: 1000;
display: flex;
color: #083060;
font-size: 45px;
cursor: pointer;
}

#bannerdiv {
height: 400px;
width: 1500px;
margin-left: auto;
margin-right: auto;
padding-top: 150px;
background-image: url('images/roundbannerimage.png');
background-repeat: no-repeat;
background-size: 100%;
}

#bannertext {
text-align: center;
font-size: 100px;
color: #083060;
}

#awardsdiv {
width: 80%;
height: 950px;
margin-left: auto;
margin-right: auto;
padding-top: 150px;
text-align: center;
}

#wrapper {
margin-left: auto;
margin-right: auto;
width: 100%;
height: 900px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
}

.awardsbox {
width: 360px;
height: 600px;
margin-left: 20px;
margin-right: 20px;
}

.projectimg {
width: 250px;
height: 250px;
border: 10px solid #4b9acc;
border-radius: 50%;
}

.titles {
color: #083060;
font-family: 'Caprasimo', regular;
font-size: 40px;
}

.projecttext {
text-align: justify;
font-size: 18px;
line-height: 26px;
font-family: 'Microsoft Sans Serif', regular;
color: #083060;
}

#footer {
height: 250px;
width: 100%;
background-color: #083060;
margin-top: 100px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}

#footertext {
font-size: 25px;
color: #d8e7ed;
text-align: center;
padding-top: 125px;
}