.p1 {
font-family: 'Caprasimo', regular;
}

.p2 {
font-family: 'Microsoft Sans Serif', regular;
}


#backbutton {
position: fixed;
top: 100px;
left: 20px;
z-index: 1000;
display: flex;
color: #083060;
font-size: 45px;
cursor: pointer;
}

#bannerdiv {
height: 500px;
width: 1500px;
margin-left: auto;
margin-right: auto;

padding-top: 150px;
background-image: url('images/roundbannerimage.png');
background-repeat: no-repeat;
background-size: 100%;
}

#bannertext {
text-align: center;
font-size: 100px;
color: #083060;
}

#main {
width: 100%;
height: 1000px;
margin-left: auto;
margin-right: auto;
}

#maincenter {
width: 900px;
height: 345px;
margin-left: auto;
margin-right: auto;
border-radius: 25px;
border: 5px solid #4b9acc;
text-align: center;
line-height: 110px;
font-size: 70px;
margin-top: 60px;
}

a {
color: #4b9acc;
text-decoration: none;
padding: 30px;
}

a:hover {
color: #083060;
}

body {font-family: 'Microsoft Sans Serif', regular;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #083060;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #4b9acc;
}

.container {
  border-radius: 5px;
  background-color: #d8e7ed;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}
