header {
height: 150px;
width: 100%;
background-color: white;
position: fixed;
top: 0px;
left: 0px;
z-index: 100;
display: flex;
flex-direction: row;
}

#logodiv {
width: 450px;
height: 150px;
display: flex;
align-items: center;
justify-content: center;
}

#logo {
width: 100px;
}

#navdiv {
color: white;
top: 30px;
right: 50px;
position: fixed;
}

a {
text-decoration: none;
padding: 25px;
}



